<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preenchimento de Projetos Básicos</title>
</head>
<body>
    <h1>Preencher Projeto Básico</h1>
    <form method="post">
        {% csrf_token %}
        <h2>Informações Gerais</h2>
        {{ form_dinamico.as_p }}
        <h2>Itens e Lotes</h2>
        {{ form_itens.as_p }}
        <button type="submit">Gerar Documento</button>
    </form>
</body>
</html>
